.main-section {
  min-height: 100vh;
  background-color: #272c30;
}

.main-background {
  background-color: #272c30;
}

.content-fills {
  max-width: 1024px;
}

@media (min-width: 760px) {
  .main-section {
    min-height: 60vh;
  }
}

@media (min-width: 1024px) {
  .main-section {
    min-height: 70vh;
  }
}

.big-font {
  font-size: larger;
}

.before-line::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: white;
  vertical-align: middle;
}

.before-line span {
  padding-left: 10px;
  position: relative;
}

.after-line::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: #ffc107;
  vertical-align: middle;
}

.after-line span {
  padding-right: 5px;
}

.vertical-separator {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  width: 2px;
  background-color: #ffc107;
  vertical-align: middle;
}

.horizontal-separator {
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  height: 2px;
  background-color: #ffc107;
}

.stats-box {
  width: 200px;
  height: 200px;
  margin: 20px;
  background-color: #272c30;
  border: 1px solid #272c30;
  border-radius: 25px;
}

.carousel-box {
  height: 450px;
}

.carousel-img {
  width: 50%;
}

@media (min-width: 760px) {
  .carousel-box {
    height: 300px;
  }
  .carousel-img {
    width: 25%;
  }
}
