.main-section {
  min-height: 100vh;
  background-color: #272c30;
}

.content-fills {
  max-width: 1024px;
}

@media (min-width: 760px) {
  .main-section {
    min-height: 60vh;
  }
}

@media (min-width: 1024px) {
  .main-section {
    min-height: 70vh;
  }
}

.big-font {
  font-size: larger;
}

.before-line::before {
  content: "";
  display: inline-block;
  width: 6vw;
  height: 1px;
  background-color: white;
  vertical-align: middle;
}

.before-line span {
  padding: 0 10px;
  position: relative;
}
